.column
  .search
    .search_bar
      %input#searchOne{:type => 'checkbox'}
      %label{:for => 'searchOne'}
        %i.icon.ion-android-search
        %i.last.icon.ion-android-close
        %p #{'|'}
      %input{:type => 'text',:placeholder => 'Search...'}